# Entornos virtuales
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Archivos grandes o temporales
*.log
*.tmp
*.docx
*.xlsx
*.pdf
*.zip
*.csv
*.json
*.xml
*.bak   
*.csv
*.json